<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Dynamic Details">
    <form [formGroup]="dynamicDetailsForm" class="dynamic-details-form">
      <input type="hidden" formControlName="ID">
      <input type="hidden" formControlName="REC_ID">

      <!-- Two-column layout -->
      <div class="dynamic-details-container">

        <!-- Left Partition -->
        <div class="dynamic-details-column">
          <ng-container *ngFor="let key of columnKeys; let i = index">
            <ng-container *ngIf="key !== 'REC_ID' && i % 2 === 0">
              <div class="field-row">
                <label class="field-label">{{ columnLabels?.[key] | uppercase }}</label>
                <mat-form-field appearance="outline" class="field-input">
                  <ng-container *ngIf="isRangeLimitField(key); else normalInput">
                    <!-- Number input with controls -->
                    <div class="number-input-container">
                      <input matInput type="number" formControlName="{{ key }}" />
                      <div class="number-controls">
                        <button mat-icon-button (click)="incrementValue(key)">
                          <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <button mat-icon-button (click)="decrementValue(key)">
                          <mat-icon>arrow_downward</mat-icon>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #normalInput>
                    <ng-container *ngIf="key.toLowerCase().includes('date') && key !== 'REC_ID'; else textOrNumberInput">
                      <input matInput [matDatepicker]="datePickerLeft" formControlName="{{ key }}" />
                      <mat-datepicker-toggle matSuffix [for]="datePickerLeft"></mat-datepicker-toggle>
                      <mat-datepicker #datePickerLeft></mat-datepicker>
                    </ng-container>
                    <ng-template #textOrNumberInput>
                      <input matInput formControlName="{{ key }}" />
                    </ng-template>
                  </ng-template>
                </mat-form-field>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <!-- Right Partition -->
        <div class="dynamic-details-column">
          <ng-container *ngFor="let key of columnKeys; let i = index">
            <ng-container *ngIf="key !== 'REC_ID' && i % 2 !== 0">
              <div class="field-row">
                <label class="field-label">{{ columnLabels?.[key] | uppercase }}</label>
                <mat-form-field appearance="outline" class="field-input">
                  <ng-container *ngIf="isRangeLimitField(key); else normalInput">
                    <!-- Number input with controls -->
                    <div class="number-input-container">
                      <input matInput type="number" formControlName="{{ key }}" />
                      <div class="number-controls">
                        <button mat-icon-button (click)="incrementValue(key)">
                          <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <button mat-icon-button (click)="decrementValue(key)">
                          <mat-icon>arrow_downward</mat-icon>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #normalInput>
                    <ng-container *ngIf="key.toLowerCase().includes('date') && key !== 'REC_ID'; else textOrNumberInput">
                      <input matInput [matDatepicker]="datePickerRight" formControlName="{{ key }}" />
                      <mat-datepicker-toggle matSuffix [for]="datePickerRight"></mat-datepicker-toggle>
                      <mat-datepicker #datePickerRight></mat-datepicker>
                    </ng-container>
                    <ng-template #textOrNumberInput>
                      <input matInput formControlName="{{ key }}" />
                    </ng-template>
                  </ng-template>
                </mat-form-field>
              </div>
            </ng-container>
          </ng-container>
        </div>

      </div>

      <!-- Action Buttons -->
      <div class="button-container">
        <button mat-stroked-button class="custom-button" (click)="updateProductionTableData2()">
          Production Update
        </button>
      </div>

    </form>
  </mat-tab>
</mat-tab-group>
