<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Dynamic Details">
    <form [formGroup]="dynamicDetailsForm" class="dynamic-details-form">
      <input type="hidden" formControlName="ID">
      <input type="hidden" formControlName="REC_ID">
      
      <ng-container *ngFor="let key of columnKeys">   
        <ng-container *ngIf="key !== 'ID' && key !== 'REC_ID'"> 
          <mat-form-field appearance="outline" class="dynamic-details-form-field">
            <mat-label>{{ columnLabels && columnLabels[key] | uppercase }}</mat-label>          
            
            <ng-container *ngIf="isDateField(key); else numberOrNormalInput">
              <input matInput formControlName="{{ key }}" [matDatepicker]="datePicker"/>
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </ng-container>        
            
            <ng-template #numberOrNormalInput>
              <ng-container *ngIf="isRangeLimitField(key); else normalInput">
                <input matInput type="number" formControlName="{{ key }}" />
                <div matSuffix class="number-controls">
                  <button mat-icon-button (click)="incrementValue(key)">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button mat-icon-button (click)="decrementValue(key)">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </div>
              </ng-container>
            </ng-template>
            
            <ng-template #normalInput>
              <input matInput formControlName="{{ key }}"/>
            </ng-template>
          </mat-form-field>
        </ng-container>
      </ng-container>

      <div class="button-container">
        <button mat-stroked-button class="custom-button" (click)="updateProductionTableData2()">
          Production Update
        </button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
