<div
  class="w-full h-full max-w-full flex flex-col items-stretch justify-items-start">
  <div class="flex flex-row items-center justify-items-start p-3">
    <h2>
      <strong>{{ tableName() }}</strong>
    </h2>
  </div>
  <mat-divider class="w-full"/>
  <div class="overflow-x-auto max-w-full w-full grow">
    <table
      [dataSource]="data()"
      [fixedLayout]="true"
      class="max-w-full"
      mat-table
      matSort>
      <ng-container
        *ngFor="let column of displayedColumns()"
        [matColumnDef]="column">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ column | snakeCaseToString }}
        </th>
        <td *matCellDef="let element" mat-cell>{{ element[column] }}</td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay()" mat-header-row></tr>
      <tr (click)="showDetails(row)" *matRowDef="let row; columns: columnsToDisplay()" mat-row></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
@if (dynamicDetails()) {
  <app-dynamic-details />
}
