<h2 mat-dialog-title class="dialog-title">Search {{ data.tableName | uppercase }}</h2>
 
<mat-dialog-content class="search-dialog-content">
  <form [formGroup]="form">
    <div class="search-form-grid">
      <ng-container *ngFor="let control of dynamicControls; let i = index">
        
        <mat-form-field *ngIf="control.type === 'dropdown'" appearance="outline"
                       [ngClass]="{'form-field': true, 'short-field': isShortField(control.controlName)}">
          <mat-label>{{ control.label }}</mat-label>
          <mat-select [formControlName]="control.controlName">
            <mat-option *ngFor="let option of control.options" [value]="option[control.valueKey]">            
              {{ control.isServiceGroup ? (option[control.valueKey] + ' - ' + option[control.labelKey]) : (option[control.labelKey] || option[control.valueKey]) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
     
        <mat-form-field *ngIf="control.type === 'date'" appearance="outline" class="form-field">
          <mat-label>{{ control.label }}</mat-label>
          <input matInput [matDatepicker]="picker" [formControlName]="control.controlName">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <div *ngIf="control.type === 'checkbox'" class="checkbox-container">
          <mat-checkbox [formControlName]="control.controlName">
            {{ control.label }}
          </mat-checkbox>
        </div>
      </ng-container>
    </div>
  </form>
</mat-dialog-content>
 
<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="finish()">Search</button>
</mat-dialog-actions>