<h2 mat-dialog-title>SEARCH {{ data.tableName | uppercase }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-container">
      <div *ngFor="let control of dynamicControls" class="form-row">

        <!-- Label -->
        <div class="label-container">
          <mat-label>{{ control.label }}</mat-label>
        </div>

        <!-- Dropdown Control -->
        <div class="field-container" *ngIf="control.type === 'dropdown'">
          <mat-form-field appearance="outline" class="full-width">
            <mat-select [formControlName]="control.controlName">
              <mat-option *ngFor="let option of control.options" [value]="option[control.valueKey]">
                {{ control.isServiceGroup ? (option[control.valueKey] + ' - ' + option[control.labelKey]) : (option[control.labelKey] || option[control.valueKey]) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Date Picker Control -->
        <div class="field-container" *ngIf="control.type === 'date'">
          <mat-form-field appearance="outline" class="full-width">
            <input matInput [matDatepicker]="datePickersMap[control.controlName]" [formControlName]="control.controlName">
            <mat-datepicker-toggle matSuffix [for]="datePickersMap[control.controlName]"></mat-datepicker-toggle>
            <mat-datepicker #{{control.controlName}}></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Checkbox Control -->
        <div class="field-container" *ngIf="control.type === 'checkbox'">
          <mat-checkbox [formControlName]="control.controlName">        
          </mat-checkbox>
        </div>

      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="finish()">Finish</button>
</mat-dialog-actions>
