::ng-deep .mat-dialog-container {
  width: 600px; 
  max-width: 90vw; 
}

.mat-form-field {
  width: 100%; 
}

.mat-select-panel {
  min-width: 300px !important; 
  max-width: 100%;
  white-space: nowrap; 
}

.mat-option {
  overflow: visible !important;
  text-overflow: ellipsis
}

::ng-deep mat-form-field {
  .mat-form-field-underline {
    display: none !important;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}
