@use "tailwindcss";

$common-size: var(--common-size);

.main-container {
  @apply max-w-full grow;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: $common-size;

  .mat-drawer {
    @apply overflow-x-auto;
    /* The background property is added to clearly distinguish the borders between drawer and main
   content */
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid var(--mat-sys-outline-variant);
    overflow-y: auto;
  }

  .mat-drawer-content {
    @apply overflow-y-auto p-[12px] w-auto h-full;
  }

  margin: $common-size;
}
